.form {
    padding: 2rem;
}

.form__group {
    padding: 1rem;
    border: 1px solid gray;
}

.form__group:not(:last-child) {
    margin-bottom: 1rem;
}

.form__input,
.form__textarea {
    font-size: 1rem;
    font-family: inherit;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .6);
    border: none;
    border-bottom: 3px solid var(--color-tertiary);
    width: 100%;
    display: block;
}

.form__input:focus,
.form__textarea:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
}

.form__input:focus:invalid,
.form__textarea:focus:invalid {
    border-bottom: 3px solid red;
}

.form__textarea {
    height: 10rem;
    resize: none;
}

.form__label {
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
    display: block;
    transition: all 0.3s;
    text-align: left;
}

.form__input:placeholder-shown+.form__label,
.form__textarea:placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}