.sign-body {
    background-image: linear-gradient(to right bottom, var(--color-tertiary), var(--color-secondary));
    background: url('https://images.unsplash.com/photo-1489582558212-475fa5010897?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cc6e93a991d7f256e61ce38d9b1f2177&auto=format&fit=crop&w=751&q=80') no-repeat center center fixed;
    background-size: cover;
}

.sign-main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.sign-footer {
    width: 100%;
}

@media (max-width: 800px) {
    .sign-footer .site-nav__logo {
        height: 2em;
    }
}

.container-form {
    display: block;
    text-align: center;
    margin: 6rem auto 1rem auto;
    max-width: 30rem;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(240, 240, 240, .7);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 3px 6px #888;
    padding: 2rem 1rem;
}