/* Variables */

:root {
    --color-primary: #102a6e;
    --color-secondary: #f2303e;
    --color-tertiary: #745cd5;
    --color-white: #eee;
    --color-black: #222;
}

:root {
    font-size: 0.75em;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media (min-width: 800px) {
     :root {
        font-size: .9em;
    }
}

@media (min-width: 1200px) {
     :root {
        font-size: 1.1em;
    }
}

.green {
    background: green !important;
}

.blue {
    background: blue !important;
}

.grey {
    background: grey !important;
}

.red {
    background: red !important;
}

body {
    /* background: url('../img/Bad-Roads.jpg') no-repeat center center fixed;
    background-size: cover; */
    font-family: 'Montserrat', sans-serif;
    color: #222;
}

body *+* {
    margin-top: 1.5em;
    transition: all .5s;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--color-tertiary);
}

h2:not(.hero__title) {
    font-family: 'Raleway' cursive;
    text-transform: uppercase;
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-tertiary));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    text-shadow: 3px 5px 5px rgba(0, 0, 0, .3);
}

#map {
    height: 20rem;
    width: 30rem;
}

h4 {
    font-size: 1.2rem;
}

header {
    transition: all .5s linear;
}

footer {
    color: var(--color-white);
    margin: 0;
}

footer a {
    margin: 0;
}

section {
    min-height: 50vh;
    padding: 0 4rem;
}

.go-to-top {
    position: fixed;
    z-index: 5;
    top: 83vh;
    left: 87vw;
    border-radius: 50%;
}

.go-to-top:hover {
    transform: translateY(-4px);
}

.icon {
    height: 2rem;
    width: 4em;
}

.copy {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(32, 32, 32, 1);
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem)
    }
    80% {
        transform: translateX(1rem)
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }
    80% {
        transform: translateX(-1rem)
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem)
    }
    80% {
        transform: translateY(-.2rem)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem)
    }
    80% {
        transform: translateY(.2rem)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}