/****** SITE NAVIGATION STYLES *****/

.site-nav {
    display: flex;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(32, 32, 32, .8);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
}

.site-nav-foot {
    display: flex;
    justify-content: space-between;
    background-color: rgba(32, 32, 32, 1);
    align-items: center;
    padding: 0 2em;
    width: 100%;
}

ul {
    list-style: none;
}

.site-nav__logo {
    height: 4em;
    margin: auto 5em;
    padding: 2px;
}

.site-nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
    padding: .5em;
    margin: auto;
}

.site-nav__right {
    margin-left: auto;
}

.site-nav__item {
    margin-top: 0;
    color: var(--color-white);
    align-self: center;
}

.site-nav__right .site-nav__item {
    border-color: var(--color-white);
}

.site-nav__item+li {
    margin-left: .5em;
}

.site-nav__item a:hover {
    color: var(--color-white);
}


/* Button Styles */

.button {
    font-size: 1rem;
    font-family: inherit;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    transition: all .2s;
    padding: .4em .8em;
    cursor: pointer;
    text-shadow: 1px 2px 2px #000;
    font-weight: 400;
    color: var(--color-white);
}

.button a {
    color: var(--color-white);
}

.button:hover {
    background: var(--color-primary);
    transform: translateY(-3px);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, .9);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .9);
}

.button:focus {
    outline: none;
}

.button--alt {
    text-transform: uppercase;
    background: var(--color-tertiary);
    border: none;
}

.button--alt:hover {
    background: var(--color-secondary);
}


/* Flex Container */

.flex-container {
    display: flex;
}

.flex-container div {
    flex-basis: calc(33% - 2em);
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}


/* form */

.form {
    padding: 2rem;
}

.form__group {
    padding: 1rem;
    border: 1px solid gray;
}

.form__group:not(:last-child) {
    margin-bottom: 1rem;
}

.form__input,
.form__textarea {
    font-size: 1rem;
    font-family: inherit;
    padding: 1rem 1.5rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-bottom: 3px solid var(--color-tertiary);
    width: 100%;
    display: block;
}

.form__input:focus,
.form__textarea:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .3);
}

.form__input:focus:invalid,
.form__textarea:focus:invalid {
    border-bottom: 3px solid red;
}

.form__textarea {
    height: 10rem;
    resize: none;
}

.form__label {
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 0.2rem;
    display: block;
    transition: all 0.3s;
    text-align: left;
}

.form__input:placeholder-shown+.form__label,
.form__textarea:placeholder-shown+.form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

@media (max-width: 800px) {
    .site-nav ul {
        flex-direction: column;
        padding: .5em;
    }
    .site-nav__logo {
        margin: .5em;
    }
    .flex-container {
        flex-direction: column;
        padding: 0 2rem;
    }
    .flex-container div {
        margin-top: 2rem;
    }
}


/* Card */

.card {
    width: 30%;
    padding: 1rem;
    color: white;
    font-size: .8rem;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .25);
}

.card__picture {
    max-width: 100%;
    height: 9rem
}

.card__heading {
    font-size: 1rem;
    padding: .5rem 1rem;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: .5rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #51334f, #2176ae);
}

.card__details {
    color: #241623;
    padding: 0.5rem;
    margin: 0 auto;
}

.card__status {
    color: #fbf5f3;
    font-size: 100%;
    position: relative;
    top: 8rem;
    border: dotted #51334f 0.2px;
    left: -1rem;
    padding: 0 1rem;
    background-color: rgba(236, 50, 88, .85);
}

@media (max-width: 800px) {
    .card {
        width: 70%;
    }
    .card__pictre {
        height: auto;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 3rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .7);
}


/* Modal Content */

.modal-content {
    color: #000;
    margin: auto;
    background-color: rgba(205, 205, 205, 1);
    padding: 4rem;
    border: 1px solid #888;
    width: 70%;
}

@media (max-width: 800px) {
    width: 90%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 5rem;
    font-weight: bold;
    position: fixed;
    top: 5%;
    left: 87%
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}