header {
    display: flex;
}


/****** SITE NAVIGATION STYLES *****/

.site-nav {
    display: flex;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(32, 32, 32, .8);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
}

.site-nav-foot {
    display: flex;
    justify-content: space-between;
    background-color: rgba(32, 32, 32, 1);
    align-items: center;
    padding: 0 2em;
    width: 100%;
}

ul {
    list-style: none;
}

.site-nav__logo {
    height: 4em;
    margin: auto 5em;
    padding: 2px;
}

.site-nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
    padding: .5em;
    margin: auto;
}

.site-nav__right {
    margin-left: auto;
}

.site-nav__item {
    margin-top: 0;
    color: var(--color-white);
    align-self: center;
}

.site-nav__right .site-nav__item {
    border-color: var(--color-white);
}

.site-nav__item+li {
    margin-left: .5em;
}

.site-nav__item a:hover {
    color: var(--color-white);
}


/* Flex Container */

.flex-container {
    display: flex;
}

.flex-container div {
    flex-basis: calc(33% - 2em);
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 800px) {
    .site-nav ul {
        flex-direction: column;
        padding: .5em;
    }
    .site-nav__logo {
        margin: .5em;
    }
    .flex-container {
        flex-direction: column;
        padding: 0 2rem;
    }
    .flex-container div {
        margin-top: 2rem;
    }
}