/* landing-page */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    margin-top: -1.5rem;
    padding-top: 6rem;
    background-image: linear-gradient( to right bottom, rgba(16, 42, 110, .6), rgba(242, 48, 62, .6)), url('../img/Bad-Roads.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0%, 100% 90vh, 0% 100%);
}

.hero__content {
    margin: 0;
    position: relative;
    text-align: center;
    color: var(--color-white);
    width: 50%;
    animation: moveInTop 1.5s ease-in;
}

.hero__title {
    font-weight: 300;
    line-height: 1.2;
    text-shadow: 1px 2px 2px #000;
}

.hero__content .button {
    font-size: 1rem;
    padding: .6em 1.1em;
    animation: moveInBottom 2s ease-in;
}

.how {
    background-color: beige;
    padding: 5rem 7rem;
    margin-top: -10vh;
}

.how-icon {
    height: 2rem;
}

.contact-section {
    margin: -1rem 0;
    padding: 4rem 0;
    background-image: linear-gradient(to right bottom, var(--color-tertiary), var(--color-secondary));
}

@media (max-width: 56.25em) {
    .contact-section {
        padding: 10rem 0;
    }
}

.contact {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .7), 50%, transparent 50%), url(../img/uganda2.jpg);
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .3);
    min-height: 40rem;
}

.contact__form {
    width: 50%;
}

@media (max-width: 56.25em) {
    .contact__form {
        width: 100%;
    }
    .contact-section {
        padding: 1rem 0;
    }
}

@media (max-width: 800px) {
    .hero {
        padding: 0;
    }
    .hero__content {
        width: 80%;
    }
    .how {
        padding: 5rem .5em;
    }
    .go-to-top {
        top: 80vh;
        left: 80vw;
    }
}


/* Sign in page */

.sign-body {
    background-image: linear-gradient(to right bottom, var(--color-tertiary), var(--color-secondary));
    background: url('https://images.unsplash.com/photo-1489582558212-475fa5010897?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cc6e93a991d7f256e61ce38d9b1f2177&auto=format&fit=crop&w=751&q=80') no-repeat center center fixed;
    background-size: cover;
}

.sign-main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.sign-footer {
    width: 100%;
}

@media (max-width: 800px) {
    .sign-footer .site-nav__logo {
        height: 2em;
    }
}

.container-form {
    display: block;
    text-align: center;
    margin: 6rem auto 1rem auto;
    max-width: 30rem;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(240, 240, 240, .7);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 3px 6px #888;
    padding: 2rem 1rem;
}


/* Profile */

.profile-container {
    display: flex;
    align-content: flex-start;
    margin-top: 5rem;
    margin-left: 13rem;
    text-align: center;
    background-color: rgba(240, 240, 240, .8);
    padding: 2rem 1rem;
    min-height: 100vh;
}


/* Style the tab */

.tab {
    background-color: transparent;
    width: 13rem;
    position: fixed;
    z-index: 99;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    display: block;
    margin-top: 0;
    border: none;
    outline: none;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    background-color: rgba(32, 32, 32, .8);
    transition: 0.3s;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-white);
    padding: 2em;
}

.tab button:last-child {
    border-bottom: none;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #444;
    box-shadow: none;
    transform: translateY(-.5);
}


/* Create an active/current "tab button" class */

.tab button.active {
    background-color: rgba(240, 240, 240, .8);
    color: var(--color-black);
    text-shadow: none;
}


/* Style the tab content */

.tabcontent {
    display: none;
}

#home {
    display: block;
}

@media screen and (max-width: 800px) {
    .tab {
        width: 100%;
        height: auto;
        position: relative;
        margin: 6rem auto 0 auto;
    }
    .tab button {
        padding: .5em;
        display: inline-block;
        font-size: x-small;
        text-transform: none;
        margin: 0;
        border: none;
    }
    .profile-container {
        margin-left: 0;
        margin-top: 0;
    }
}